<div class="row row-cols-1 row-cols-md-3 mt-4">
    <div class="col mb-3">
        <div class="card h-100">
            <img src="https://scene7.zumiez.com/is/image/zumiez/pdp_hero/Superior-Glow-Propaganda-8.0-Skateboard-Deck-_245325.jpg"
                class="rounded mx-auto d-block" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <button type="button" class="btn btn-primary btn-lg btn-block">
                    <span class="material-icons">
                        add_shopping_cart
                        </span> Add carrinho
                </button>
            </div>
        </div>
    </div>    
</div>